.snake {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-block: 40px;
  padding-bottom: 40px;
}

.heading {
  display: flex;
  justify-content: center;
  color: #3d6a7f;
}

.snake canvas {
  margin-top: 20px;
}

.canvasContainer {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.verticleControls {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.snake button {
  background-color: #3d6a7f;
  border: 0;
  color: #e9e2da;
  max-height: 130px;
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.upperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperContent h2 {
  margin: 6px;
}

@media (max-width: 950px) {
  .snake {
    display: block;
    gap: 0;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .controls {
    display: flex;
  }
}
